1 - Crie um banco de dados

In [2]:
import sqlite3 as sql
BD_ESCOLA = sql.connect('BD_ESCOLA.db')
cursor = BD_ESCOLA.cursor()

EXCLUINDO QUANDO HOUVER ERRO

In [ ]:
cursor.execute('DROP TABLE cursos')
cursor.execute('DROP TABLE alunos')
BD_ESCOLA.commit()

2 - Crie uma tabela chamada 'cursos' para armazenar informações sobre os cursos.                                        
A tabela deve ter uma coluna id que será a chave primária e outra com o nome do curso.

In [36]:
cursor.execute('''CREATE TABLE IF NOT EXISTS cursos (id INTEGER PRIMARY KEY AUTOINCREMENT, nome_curso TEXT NOT NULL)''')
BD_ESCOLA.commit()

3 - Insira alguns registros na tabela 'cursos'

In [37]:
cursor.execute("INSERT INTO cursos (nome_curso) VALUES (?)", ("Modelagem de Software",))
cursor.execute("INSERT INTO cursos (nome_curso) VALUES (?)", ("Vida e Carreira",))
cursor.execute("INSERT INTO cursos (nome_curso) VALUES (?)", ("Soluções Computacionais",))
cursor.execute("INSERT INTO cursos (nome_curso) VALUES (?)", ("Ambientes Virtuais",))
BD_ESCOLA.commit()

In [ ]:
cursor.execute('''SELECT * FROM cursos ''')
dates=cursor.fetchall()
for date in dates:
    print(date)


4 - Crie uma tabela chamada 'alunos' com as seguintes colunas: id, nome, nota e curso_id

In [39]:
cursor.execute('''
    CREATE TABLE IF NOT EXISTS alunos (
        id INTEGER PRIMARY KEY AUTOINCREMENT, 
        nome TEXT NOT NULL, 
        nota REAL NOT NULL,
        curso_id INTEGER,
        FOREIGN KEY (curso_id) REFERENCES cursos(id)
    )
''')
BD_ESCOLA.commit()

5 - Insira alguns registros na tabela 'alunos' com referência aos cursos

In [40]:
cursor.execute('INSERT INTO alunos (nome,nota,curso_id) VALUES (?, ?, ?)', ('Gabriel',10,1))
cursor.execute('INSERT INTO alunos (nome,nota,curso_id) VALUES (?, ?, ?)', ('Pedro',8,2))
cursor.execute('INSERT INTO alunos (nome,nota,curso_id) VALUES (?, ?, ?)', ('Pablo',5,3))
cursor.execute('INSERT INTO alunos (nome,nota,curso_id) VALUES (?, ?, ?)', ('Paulo',4,1))
cursor.execute('INSERT INTO alunos (nome,nota,curso_id) VALUES (?, ?, ?)', ('Daniel',6,4))
cursor.execute('INSERT INTO alunos (nome,nota,curso_id) VALUES (?, ?, ?)', ('Arthur',5,2))
cursor.execute('INSERT INTO alunos (nome,nota,curso_id) VALUES (?, ?, ?)', ('Guilherme',7,4))
cursor.execute('INSERT INTO alunos (nome,nota,curso_id) VALUES (?, ?, ?)', ('Eduarda',9,3))
BD_ESCOLA.commit()

In [ ]:
cursor.execute('''SELECT * FROM alunos''')
dates=cursor.fetchall()
for date in dates:
    print(date)

6 - Faça consultas SQL para recuperar informações dos alunos e seus cursos 

a. Selecione todos os alunos e seus cursos

b. Selecione os alunos com notas acima de 7

c. Selecione os alunos com nota acima de 7 e seus respectivos cursos

In [ ]:
# MOSTRANDO TUDO
cursor.execute('''SELECT * FROM alunos INNER JOIN cursos ON alunos.curso_id = cursos.id ''')
dates=cursor.fetchall()
for date in dates:
    print(date)

In [ ]:
# A)
cursor.execute('''
    SELECT alunos.nome, cursos.nome_curso 
    FROM alunos 
    INNER JOIN cursos ON alunos.curso_id=cursos.id ''')
dados = cursor.fetchall()
for dado in dados:
    print(dado)

In [ ]:
# B)
cursor.execute('SELECT nome FROM alunos WHERE nota>7')
dates = cursor.fetchall()
for date in dates:
    print(date)

In [ ]:
# C)
cursor.execute('''
               SELECT alunos.nome, cursos.nome_curso 
               FROM alunos INNER JOIN cursos WHERE NOTA>7 and alunos.curso_id= cursos.id''')
dates = cursor.fetchall()
for date in dates:
    print(date)

Listar conteúdo das tabelas
7 - Crie um script para alterar a tabela de 'alunos' retirando as colunas nota e curso_id.

In [ ]:
# cursor.execute('''ALTER TABLE cursos DROP CONSTRAINT PRIMARY KEY id''') # removendo restrição de FK
cursor.execute('PRAGMA FOREIGN_KEYS = OFF')
cursor.execute('''ALTER TABLE alunos DROP COLUMN curso_id''') # Em seguida, remova a coluna
# cursor.execute('''ALTER TABLE alunos DROP COLUMN nota''')
BD_ESCOLA.commit()
cursor.execute('SELECT * FROM alunos')
dados = cursor.fetchall()
for dado in dados:
    print(dado)

8 - Crie uma tabela 'Disciplinas' para receber as colunas nota e curso_id que devem ser retiradas da tabela alunos e os dados respectivos e adicione uma chave estrangeira para o aluno_id

In [ ]:
cursor.execute('''CREATE TABLE IF NOT EXISTS disciplinas LIKE (nota,curso_id) FROM alunos
    INSERT INTO disciplinas
(nota, curso_id, ...)
SELECT nota, curso_id, ...
FROM alunos;
    nota DOUBLE NOT NULL, 
    curso_id INTEGER AUTOINCREMENT NOT NULL,
    nome TEXT NOT NULL
    
    )''')
BD_ESCOLA.commit()

9 - Atualizar os nomes das disciplinas dos cursos conforme a seguir:

1 - Curso de Matemática 1 - FUNDAMENTOS DE ÁLGEBRA 3 - GEOMETRIA PLANA 6 - HISTÓRIA DA MATEMÁTICA
2 - Curso de Hstória 2 - HISTÓRIA ANTIGA 5 - HISTÓRIA MODERNA 7 - HISTÓRIA DA IDADE MÉDIA
3 - Curso de Ciências 4 - CIENCIAS DA NATUREZA 8 - CIENCIAS FISICAS E QUIMICAS 9 - CIENCIAS BIOLOGICAS

In [ ]:
cursor.execute('''INSERT INTO alunos (nome) VALUES (?)''', ('MATEMÁTICA',) )
cursor.execute('''INSERT INTO alunos (nome) VALUES (?)''', ('FUNDAMENTOS DE ÁLGEBRA,') )
cursor.execute('''INSERT INTO alunos (nome) VALUES (?)''', ('GEOMETRIA PLANA',) )
cursor.execute('''INSERT INTO alunos (nome) VALUES (?)''', ('HISTÓRIA DA MATEMÁTICA',) )
cursor.execute('''INSERT INTO alunos (nome) VALUES (?)''', ('CURSO DE HISTÓRIA',) )
cursor.execute('''INSERT INTO alunos (nome) VALUES (?)''', ('HISTÓRIA ANTIGA',) )
cursor.execute('''INSERT INTO alunos (nome) VALUES (?)''', ('HISTÓRIA MODERNA',) )
cursor.execute('''INSERT INTO alunos (nome) VALUES (?)''', ('HISTÓRIA DA IDADE MÉDIA',) )
cursor.execute('''INSERT INTO alunos (nome) VALUES (?)''', ('CURSO DE CIÊNCIAS',) )
cursor.execute('''INSERT INTO alunos (nome) VALUES (?)''', ('CIÊNCIAS DA NATUREZA',) )
cursor.execute('''INSERT INTO alunos (nome) VALUES (?)''', ('CIÊNCIAS FÍSICAS E QUÍMICAS',) )
cursor.execute('''INSERT INTO alunos (nome) VALUES (?)''', ('CIÊNCIAS BIOLOGICAS',) )
BD_ESCOLA.commit()

In [ ]:
cursor.execute("DELETE FROM cursos WHERE nome_curso = ?", ("Modelagem",))
cursor.execute("SELECT * FROM alunos WHERE nota>6 ")
dados = cursor.fetchall()
for dado in dados:
    print(dado)

In [ ]:
BD_ESCOLA.close()